/* Estilos para el body y el navbar */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #bb7e7a;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}


/* Estilos para el logo */
.logo {
    font-size: 24px;
    font-weight: bold;
}

/* Estilos para los enlaces de navegación */
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 35px;
}

/* Estilos para enlaces de navegación */
.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Estilos para enlaces de navegación al pasar el mouse */
.nav-links a:hover {
    color: #000000; /* Cambia el color al pasar el mouse */
    background-color: #bfc9ba;
    padding: 8px;
    border-radius: 6px;
    transition: 0.2s;
}


footer{
    background: #bb7e7a;
    width: 100%;
}

#registerr:hover{
    transition: 0.2s;
    font-size: 22px;
}

